<ion-content padding color="primary" color="White">
  <!-- <div class="text-center">
      <img class="logo" src="assets/iconp-512x512.png">
  </div> -->
 <div style="padding-left:20px;padding-top:150px;">
    <h2 class="h2 text-left"> Please Sign In </h2>
    <p class="h3 text-left" style="color:lightgray;font-size:12px;"> Welcome Back</p>
 </div>

  <form [formGroup]="ionicForm2" (ngSubmit)="submitForm()" method="post" novalidate>

      <ion-item lines="full" class="text-center">
          <ion-input formControlName="email" type="text"  placeholder="Email Address">
            <ion-icon name="mail-outline" slot="end" style="margin-right:20px;"></ion-icon>
          </ion-input>
      </ion-item>
      <span class="error ion-padding text-center" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Email is required.
        </span>
      <span class="error ion-padding text-center" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Please provide valid email id.
        </span>

      <ion-item style="margin-top:50px;" lines="full" class="text-center">
          <ion-input class="text-left" formControlName="password" [type]="getType()"  placeholder="Enter company name">
              <ion-icon name="lock-closed-outline" slot="end" (click)="toggleTextPassword()" style="margin-right:20px;"></ion-icon>
          </ion-input>

      </ion-item>
      <span class="error ion-padding text-center" *ngIf="isSubmitted && errorControl.password.errors?.required">
             Password is required.
      </span>
      <ion-row class="mt-5" style="margin-right:10px;">
        <ion-col size="9"></ion-col>
          <ion-col size="3">
              <ion-button shape="round" expand="full" color="primary" type="submit" color="dark" expand="block"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
          </ion-col>
      </ion-row>
  </form>
  <p class="text-center" style="padding-top:100px;">Don't have a account?</p>
  <p class="text-center" routerLink="/register">Register</p>
 
</ion-content>