ion-content{
    --background:#f8f9fd;
}

ion-card{
    margin-inline:0px;
  }

  .ion-color-medium {
    --ion-color-base: #2dd36f !important;
    font-size: 30px;
}

.settings-items-padding{
    padding: 20px 0px 20px 0px;
}

.pr-2{
    padding-right:20px;
}