ion-radio {
    width: 30px;
    height: 30px;
  }
  
  ion-radio::part(container) {
    border-radius: 8px;
    border: 2px solid #ddd;
  }

  .bordered{

    background: #F7F8FB;
    border-radius: 15px;
  }

  .img-single{

    width: 55px;
    height: 55px;
    border-radius: 15px;
  }
  
  .mw-100 {
    max-width: 100%!important;


    width: 60px !important;
    height: 60px !important;
  }
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #6815ec;
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
  
    transform: rotate(45deg);
  }

  .card-order-method{
    background: #f7f8fb;
  }