<ion-content class="ion-padding ">
  <div class="confirmation" style="padding-top:150px;">
    <div class="ion-text-center">
      <div class="outer-circle">
        <div class="inner-circle">
          <!-- <img src="../../assets/like.png" /> -->
        </div>
      </div>
      <h2>LEKKER BREW!</h2>
      <img src="../../assets/take-away.png"/>
      <p>
        You have successfully <br>
        completed your order.
      </p>
    </div>
  </div>
  <ion-row>
    <ion-col size="12" size-lg>
      <p class="text-center"><ion-button routerLink="/home" shape="round" expand="full" color="dark" type="submit">Home</ion-button></p>
    </ion-col>
  </ion-row>
</ion-content>
