<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="solid" shape="round" color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="share-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="search-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <h1 class="title" style="margin-top:50px;">Profile</h1> -->
  <div class="profile-info" style="margin-top:50px;">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input value="Mike"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address Lane</ion-label>
      <ion-input value="123 William Nicol"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input value="Bryanston"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="mike@ko.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input value="+94 775 580 646"></ion-input>
    </ion-item>
  </div>

  <!-- <ion-row>
    <h1 class="title" style="margin-top:50px;">Saved Addreses</h1>
    <ion-col size="12" class="light-bg">
      <ion-row class="ion-align-items-center">
        <ion-col size="1">
          <ion-icon color="medium" name="location-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label>Restaurant info
            <p>Map, allergene ad hygiene rating</p>
          </ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon color="primary" name="chevron-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row> -->
</ion-content>